.todolist{
    width: 400px;
    margin: 20px auto;
    .form_input{
        margin-bottom: 20px;
        width: 390px;
        height: 26px;
    }
    li{
        line-height: 60px;
    }
    
}
h2{
    text-align: center;
}