.search{
    width: 400px;
    margin: 20px auto;
    input{
        margin-bottom: 20px;
        width: 280px;
        height: 26px;
    }
    button{
        height: 30px;
        width: 88px;

    }
}